.root {
    -fx-font-family: "Verdana";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: springgreen;
    -fx-padding: 15px;
    -fx-spacing: 5px;
}

.text {
    -fx-text-fill: darkslategray;
}

.button {
    -fx-pref-width: 100px;
}

.label {
    -fx-padding: 5px;
    -fx-alignment: center;
}

.progress-bar {
    -fx-padding: 5px;
    -fx-accent: gold;
}

.score-pane {
    -fx-alignment: center-right;
    -fx-pref-height: 30px;
}

.speed-indicator-pane {
    -fx-alignment: center;
    -fx-pref-height: 24px;
}